@import "./base.css";

#app {
	display: flex;
	justify-content: center;
	width: 100% !important;
	margin: 0 auto;
	box-sizing: border-box;
	font-weight: normal;
	background: #020014;
}
/* 分页点样式 */
.swiper-pagination {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 10px; /* 控制分页点位置 */
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: #944efc !important;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
